// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table
{
      border-collapse: collapse;
      border: 7px solid #FF00FF;
}

td
{
    border: 2px solid #00FF00;
    padding: 1em;
}
